body {
    background-color: black;
    padding: 20px;
    margin: 15px;
    color: white;
}

.botao {
    color: black;
    background-color: white;
    border: 1px solid;
    width:"50px";
    height:"30px";
}

