@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: #FCF8F3;
    margin: 0;
    overflow: hidden;
    display: flex;
}

.circle {
    width: 70em;
    height: 70em;
    background-color: #faa938;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 1;
}


.imgSign {
    width: 40em;
    height: 40em;
    border-radius: 50%;
    position: absolute;
    top: 56%;
    left: 75%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 1;
}

.contanerBranco {
    position: absolute;
    top: 22em;
    left: 85em;

}

.h2 {
    margin: 0 0 0 1em;
    color: #000;
    font-size: 4em;
    font-family: "Roboto", sans-serif;
    font-weight: 550;
    margin-right: 1em;
}

.icons-container {
    margin: 1em 0 1em 7em;
    gap: 2em;
}

.icons {
    gap: 2em;
    height: 2em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.inputLogin {/*
    
    white-space: nowrap;
    height: 3.5em;
    padding-left: 1em;
    width: 25em;
    color: #7b7b7b;
    border: 0;
    background-color: #fff0d9;*/
    white-space: nowrap;
    height: 3.5em;
    padding-left: 1em;
    width: 25em;
    color: #7b7b7b;
    border: 0;
    background-color: #fff0d9;
    outline: none;
    margin-bottom: 1.2em;
}

.inputLogin:focus {
    outline: none;
}

.linha-senha {
    justify-content: center;
}

.mostrar-senha label {
    cursor: pointer;
}

.EsqueciS {
    white-space: nowrap;
    display: flex;
    gap: 0.1em;
}

.button {
    border: none;
    background-color: #faa938;
    color: #fff;
    border-radius: 3em;
    font-size: 1.3em;
    width: 6em;
    height: 2em;
    margin: 1.5em 5em 0 0;
}


.senha {
    color: #7b7b7b;
    font-family: Arial, sans-serif;
    font-size: 1em;
    align-items: center;
    text-decoration: underline;
    font-weight: 200;
    margin-left: 7em;
}

.mostrar-senha {
    color: #000;
    font-size: 1em;
    font-family: Arial, sans-serif;
    margin-left: 3em;
}

.button {
    margin-left: 5em;
}

.cadastro-conta {
    padding: 0.5em 2em 0 2em;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 400
}

.cadastro {
    color: #7b7b7b !important;
}

#termoCondicaoL,
#labelSenha,
#lembrarSenha {
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 1em;
    font-weight: 200;
}
 
/*Cadastar*/
.tela{
    display: flex;
    width: 100%;
    height: 100vh;
}


.lado-esquerdo{
    width: 40em;
    height: 40em;
    padding: 4em 1em 0 13em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.lado-esquerdo h1{
    font-size: 3.5em;
    margin-bottom: .5em;
}

.social-icons{
    margin: 0 9em 2em;
    gap: 2.5em;
}

.social-icons img{
    width: 2.3em;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    max-width: 28em;
}

.inputLogin{
    white-space: nowrap;
    height: 3.7em;
    padding-left: 1em;
    width: 30em;
    color: #7b7b7b;
    border: 0;
    background-color: #fff0d9;
    outline: none;
    margin-bottom: 1.2em;
}
/*
.input-box input{
    border: none;
    background: transparent;
    width: 100%;
    outline: none;
}*/

.checks{
    display: flex;
    justify-content: space-between;
    font-size: .9em;
}

.btn{
    border: none;
    background-color: #faa938;
    color: #fff;
    border-radius: 3em;
    font-size: 1.3em;
    width: 6em;
    height: 2em;
    margin: 1em 1em 0 ;
}

.login{
    margin-top: 1em;
    font-size: .9em;
}

.lado-direito{
    width: 50%;
    position: relative;
    overflow: hidden;
    z-index: 5;
}

.fundo-laranja{
    width: 70em;
    height: 70em;
    background-color: #faa938;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 1;
}

.img-cadastro{
    position: absolute;
    height: 40em;
    width: 40em;
    left: 10em;
    top: 65%;   
    transform: translate(-50%, -50%);
    z-index: 2;
}

.fundo-laranja,
.img-cadastro {
    position: absolute;
    z-index: 1;
}

.h2-cad {
    color: #000;
    font-size: 4em;
    font-family: "Roboto", sans-serif;
    font-weight: 550;
    margin-left: 2.1em;   
}

.formulario,
.inputs,
.inputLogin {
    position: relative;
    z-index: 10;
}

